body {
	background-color: #485563; 
	// background: -webkit-linear-gradient(to left, #485563 , #29323c); 
	// .background-image( linear-gradient(to left, #485563 , #29323c) );

	position: absolute, 0, 0, 0, 0;
  	//background-color: #315481;
  	background-image: linear-gradient(to left, #232526 , #414345) ;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	.type-regular;
  	color:white;
  	overflow-x: hidden;
}

#menubar {
	width:100%;
	height:50px;
	padding: 8px 20px;
	color: white;
	background-image: linear-gradient(to left, #232526 , #414345) ;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}

#container {
	width:100%;
	min-height:50vh;
}

#branding {
	font-family: Verdana;
	display:inline-block;
	float:left;
	font-size: 20px;
	font-weight:400;
}

#branding:hover {
	cursor: pointer;
}

#loginInfo {
	float:right;
	button {
		margin-left:5px;
	}
}

.pleft8 {
	padding-left: 8px;
}

.pright8 {
	padding-right: 8px;
}

.ptop8 {
	padding-top: 8px;
}

.pbott8 {
	padding-bottom: 8px
}

.pleft12 {
	padding-left: 12px;
}

.pright12 {
	padding-right: 12px;
}

.ptop12 {
	padding-top: 12px;
}

.pbott12 {
	padding-bottom: 12px
}

.mleft12 {
	margin-left: 12px;
}

.mright12 {
	margin-right: 12px;
}

.mtop12 {
	margin-top: 12px;
}

.mbott12 {
	margin-bottom: 12px
}

.mtop21 {
	margin-top: 21px
}

.hidden {
	display:none;
}
