<template name="careerAbout">
	{{#with jobResult}}
	<div class="row" id="jobTitle">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			{{title}}
		</div>
	</div>
	<div class="row jobDetailTitle">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			Responsibilities
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			{{description}}
		</div>
	</div>
	<div class="row jobDetailTitle">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			Accreditation
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			{{> pieChart}}
		</div>
	</div>
	<div class="row jobDetailTitle">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			Prospect Charts and Grids
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- <input name="salary" type="radio"/>
			<label>per country</label>
			
			<input name="salary" type="radio"/>
			<label>by level</label>
			
			<input name="salary" type="radio"/>
			<label>by occupation</label> -->			
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			{{> prospect}}
		</div>
	</div>
	{{/with}}
</template>