<template name="career">
	<div class="container" id="career-page">
		<div class="row">
	        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-container">
	            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tab-menu">
	              <div class="list-group">
	                <a href="#" class="list-group-item active text-center">
	                  About
	                </a>
	                <a href="#" class="list-group-item text-center">
	                  Showcase
	                </a>	                
	                <a href="#" class="list-group-item text-center">
	                  SkillSet
	                </a>
	                <a href="#" class="list-group-item text-center">
	                  Forum
	                </a>
	              </div>
	            </div>
	            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 tab">
	     
	                <div class="tab-content active">
	                    {{> careerAbout}}
	                </div>
	          
	                <div class="tab-content">
	                    {{> showcase}}
	                </div>
	    
	    
	                <div class="tab-content">
	                    <center>
	                      
	                    </center>
	                </div>
	            </div>
	        </div>
	  </div>
	</div>

</template>
